body{
    margin: 0;
    overflow: hidden;
}
#maincanvas{
    position: absolute;
    max-width: 600px;
    max-height: 644px;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 64px 20px 20px 20px;
}
.selnot{
    position:absolute;
    top: 0;
    width: auto;
    height: 64px;
    line-height: 64px;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    cursor: default;
}
.selnot:hover ~ .hint{
    opacity: 1;
    height: 300px;
    padding: 20px;
}
.hint:hover{
    opacity: 1;
    height: 300px;
    padding: 20px;
}
.hint{
    box-sizing: border-box;
    padding: 0px;
    top: 40px;
    position: fixed;
    width: 300px;
    height: 0px;
    background-color: #fff;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: 0.3s;
    overflow: hidden;
}
#canvas{
    width: 100%;
    height: 100%;
    background-color: rgba(86, 86, 222);
    border-radius: 25px;
    box-sizing: border-box;
}
#ctrl, #rem, #write{
    padding: 20px;
    position: absolute;
    left: 620px;
    background-color: #fff;
    width: 150px;
    border-radius: 25px;
}
#ctrl h2, #ctrl button{
    float: left;
}
button{
    width: 80px;
    height: 36px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgba(86, 86, 222);
    color: #fff;
    border: none;
    border-radius: 10px;
}
#ctrl > button{
    margin-left: 20px;
    margin-top: 20px;
}
button:active{
    background-color: rgba(86, 86, 222, 0.5);
}
.bg{
    clear: both;
}
#ctrl p{
    font-size: 16px;
    font-weight: 600;
}
#ctrl > div{
    width: 100%;
    height: 84px;
    border-bottom: 2px solid rgba(86, 86, 222);
}
.pw input{
    width: 64px;
}
.clrbtn{
    width: 100%;
    height: 60px;
}
.clr{
    height: 120px !important;
}

.clr button{
    margin-top: 12px;
    margin-left: 35px;
    margin-right: 35px;
}
.shch{
    box-sizing: border-box;
    width: 150px;
    height: 64px;
    line-height: 64px;
    font-weight: 600 !important;
}
#shch{
    margin-top: 20px;
}
input[type="checkbox"]{
    float: right;
    width: 24px;
    height: 24px;
}
/*기록*/
#rem{
    left: 1040px;
}
.sel{
    background-color: rgba(86, 86, 222);
    color: #fff;
}
.rec{
    height: 48px;
    cursor: pointer;
    border-radius: 10px;
    padding-left: 10px;
}
.rec:hover{
    background-color: rgba(86, 86, 222);
    color: #fff;
}
.re{
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
}
#sh{
    float: right;
}
/*도형 그리기*/
#write{
    left: 830px;
}
#write>div{
    margin-top: 20px;
    height: 32px;
    border-bottom: 2px solid rgba(86, 86, 222);
}
.sc, .sb{
    height: 84px !important;
}
#write input{
    float: right;
}
#write input[type="number"]{
    width: 40px;
}
.draw{
    border: none !important;
}
.draw button{
    margin: 0;
}