/*기본 설정*/
body{
    background-color: rgba(230, 230, 230);
}
.sel{
    box-sizing: border-box;
    border-bottom: 3px solid rgba(86, 86, 222);
}
a:hover{
    color: inherit;
}
/*헤더*/
header{
    background-color: #fff;
    width: 100%;
    height: 184px;
    text-align: center;
    font-size: 80px;
}
#maintitle{
    position: absolute;
    z-index: 2;
    left: 320px;
    text-align: left;
    width: 1000px;
    height: 120px;
    line-height: 120px;
    font-size: 48px;
    font-weight: 700;
}
#user{
    position: absolute;
    height: 120px;
    right: 0;
    font-size: 16px;
    box-sizing: border-box;
    padding-right:28px;
}
#user>div{
    float: right;
}
.pro{
    width: 48px;
    height: 120px;
    line-height: 120px;
    box-sizing: border-box;
    padding-top: 36px;
    margin: 0;
}
.cName{
    margin-top: 36px;
    text-align: right;
    margin-right: 20px;
}
.profile{
    width: 48px;
    height: 48px;
    line-height: 64px;
    background-image: url("../img/user_icon.gif");
    background-size: 48px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    background-color: rgba(230, 230, 230);
}
#line{
    position: absolute;
    z-index: 1;
    top: 120px;
    width: 100%;
    height: 64px;
    background-color: rgba(86, 86, 222);
}
#gnb{
    position: absolute;
    z-index: 1;
    top: 120px;
    text-align: center;
    width: 100%;
}
#gnb li{
    width: 240px;
    height: 64px;
    line-height: 64px;
    font-size: 18px;
    text-align: center;
}
#menutitle{
    margin-left: 280px;
}
#menutitle li{
    background-color: #fff;
    box-sizing: border-box;
    border-right: 1px solid rgba(230, 230, 230);
}
#menutitle li, #menusub>ul{
    float: left;
}
#menutitle, #menusub{
    font-size: 0; /*inline-block 여백 지우기*/
}
.menut{
    transition: 0.1s;
}
#menusub{
    left: 280px;
    top: 64px;
    width: 100%;
    position: absolute;
    z-index: 1;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.8);
    height: 0px;
    overflow: hidden;
}
#menusub>ul{
    width: 240px;
    height: 64px;
}
#menusub li{
    font-size: 16px;
    height: 64px;
}
#menusub li:hover{
    background-color:rgba(86, 86, 222);
    color: #fff;
}
#menutitle li:hover{
    box-sizing: border-box;
    border-bottom: 3px solid rgba(86, 86, 222);
}
#menutitle a:active li{
    animation-duration: 0.1s;
    animation-name: clk;
    animation-fill-mode: forwards;
}


/* gnb에 hover 했을 때*/
#gnb:hover #menusub{
    top: 64px;
    height: 128px;
}
#gnb:hover{
    overflow: visible;
}

/* @keyframes show{
    0% {display: none;}
    100% {display: block;}
}
@keyframes hide{
    0% {display: block;}
    100% {display: none;}
} */
@keyframes clk{
    100% {box-sizing: border-box; /*안쪽 보더라인*/
        border-bottom: 3px solid rgba(86, 86, 222)}
}
@media screen and (max-width: 1024px){
    #lm{
        display: none;
    }
}
#contents{
    width: 100%;
    height: 896px;
    overflow: hidden;
}
iframe{
    border: none;
}
#lm{
    z-index: 3;
    border-radius: 0px 50px 0px 0px;
    left: 0;
    top: 0;
    position: absolute;
    width: 280px;
    height: 1080px;
}
#rm{
    z-index: 0;
    left: 280px;
    position:absolute;
    width: 1620px;
    height: 896px;
}
footer{
    text-align: center;
    width: 100%;
    height: 84px;
    line-height: 84px;
    background-color: rgba(0, 0, 30);
}
footer p{
    color: #fff;
}