/*기본 설정*/
body{
    -ms-overflow-style:none;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display:none;
}
body{
    background-color: rgba(230, 230, 230);
    
}
.sel{
    box-sizing: border-box;
    border-bottom: 3px solid rgba(86, 86, 222);
}
.msel{
    background-color: rgba(86, 86, 222);
    color: #fff;
}
a:hover{
    color: inherit;
}
/*헤더*/
header{
    background-color: #fff;
    width: 100%;
    height: 184px;
    text-align: center;
    font-size: 80px;
}
#menubar{
    border-radius: 100%;
    width: 64px;
    height: 64px;
    z-index: 1;
    background-color: rgba(230, 230, 230);
    position: absolute;
    left: 40px;
    top: 60px;
    display: none;
}
#menubar_logo{
    width: 150px;
    margin-bottom: 40px;
}
#menubar_logo img{
    width: 150px;
}
.hb:first-child{
    margin-top: 15px;
}
.hb{
    width: 36px;
    height: 6px;
    background-color: #fff;
    margin-bottom: 8px;
}
#submenubar{
    border-radius: 0px 25px 0px 0px;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100vh;
    background-color: #fff;
    transition: 0.5s;
    box-sizing: border-box;
    padding-top: 40px;
    overflow: hidden;
}
#submenubar img{
    display: none;
}
#submenubar ul{
    display: none;
    padding-left: 80px;
    padding-right: 80px;
}
#submenubar li{
    font-size: 18px;
    width: 240px;
    height: 64px;
    line-height: 64px;
    border-radius: 25px;
    box-sizing: border-box;
}
#submenubar li:hover:not(.msel){
    color: #fff;
    background-color: rgba(86, 86, 222, 0.2);
}
#menubg{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.4);
    display: none;
}
#logo img{
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translate(-50%);
    width: 140px;
    display: none;
}
#maintitle{
    position: absolute;
    z-index: 2;
    left: 320px;
    text-align: left;
    width: 1000px;
    height: 120px;
    line-height: 120px;
    font-size: 48px;
    font-weight: 700;
}
#user{
    position: absolute;
    height: 120px;
    right: 0;
    font-size: 16px;
    box-sizing: border-box;
    padding-right:28px;
}
#user>div{
    float: right;
}
.pro{
    width: 48px;
    height: 120px;
    line-height: 120px;
    box-sizing: border-box;
    padding-top: 36px;
    margin: 0;
}
.cName{
    margin-top: 36px;
    text-align: right;
    margin-right: 20px;
}
.profile{
    width: 48px;
    height: 48px;
    line-height: 64px;
    background-image: url("../img/user_icon.gif");
    background-size: 48px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    background-color: rgba(230, 230, 230);
}
#line{
    position: absolute;
    z-index: 1;
    top: 120px;
    width: 100%;
    height: 64px;
    background-color: rgba(86, 86, 222);
}
#gnb{
    position: absolute;
    z-index: 1;
    top: 120px;
    text-align: center;
    width: 100%;
}
#gnb li{
    width: 240px;
    height: 64px;
    line-height: 64px;
    font-size: 18px;
    text-align: center;
}
#menutitle{
    margin-left: 280px;
}
#menutitle li{
    background-color: #fff;
    box-sizing: border-box;
    border-right: 1px solid rgba(230, 230, 230);
}
#menutitle li, #menusub>ul{
    float: left;
}
#menutitle, #menusub{
    font-size: 0; /*inline-block 여백 지우기*/
}
.menut{
    transition: 0.1s;
}
#menusub{
    margin-left: 280px;
    box-sizing: border-box;
    top: 64px;
    width: 100%;
    position: absolute;
    z-index: 1;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.9);
    height: 0px;
    overflow: hidden;
}
#menusub li{
    font-size: 16px;
    height: 64px;
}
#menusub li:hover{
    background-color:rgba(86, 86, 222);
    color: #fff;
}
#menutitle li:hover{
    box-sizing: border-box;
    border-bottom: 3px solid rgba(86, 86, 222);
}
#menutitle a:active li{
    animation-duration: 0.1s;
    animation-name: clk;
    animation-fill-mode: forwards;
}


/* gnb에 hover 했을 때*/
#gnb:hover #menusub{
    top: 64px;
    height: 192px;
}
#gnb:hover{
    overflow: visible;
}

/* @keyframes show{
    0% {display: none;}
    100% {display: block;}
}
@keyframes hide{
    0% {display: block;}
    100% {display: none;}
} */
@keyframes clk{
    100% {box-sizing: border-box; /*안쪽 보더라인*/
        border-bottom: 3px solid rgba(86, 86, 222)}
}
@media screen and (max-width: 1130px){

    #logo img{
        display: block;
    }
    #maintitle{
        display: none;
    }
    .cName{
        display: none;
    }
    #lm{
        display: none;
    }
    #lmbg{
        display: none;
    }
    #rm{
        padding-left: 40px !important;
    }
    #menutitle{
        margin: 0 !important;   
    }
    .menut{
        width: 33.3% !important;

    }
    #menusub{
        margin-left:  0px !important;
    }
    #menusub ul{
        width: 33.3%;

    }
    #menusub ul:last-child{
        margin-right: 0;
    }
    #menusub li{
        width: 100% !important;
    }
    .pa{
        margin-right: 0 !important;
    }
    #line{
        display: none;
    }
    footer{
        padding-left: 0px !important;
    }
}
@media screen and (max-width: 806px){

    #gnb{
        display: none;
    }
    #gnb{
        width: 100% !important;
    }
    .pro{
        padding-top: 64px;
    }
    #menubar{
        display: block !important;
    }
}
iframe{
    border: none;
}
#contents{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
#lm{
    z-index: 5;
    border-radius: 0px 50px 0px 0px;
    left: 0;
    top: 0;
    position: absolute;
    width: 280px;
    height: 100%;
}
#lmbg{
    z-index: 0;
    position: fixed;
    width: 280px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(86, 86, 222);
    border-radius: 0 50px 0 0;
}
#rm{
    box-sizing: border-box;
    padding-left: 320px;
    max-width: 1920px;
    width: 100%;
    padding-top: 40px;
    padding-right: 40px;
    margin: 0;
}
footer{
    position: fixed;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 84px;
    line-height: 84px;
    bottom : 0;
    background-color: rgba(0, 0, 30);
    font-size: 1em;
}
footer p{
    color: #fff;
}