body{
    margin: 0;
    overflow: hidden;
}
div{
    width:100%;
    height: 100%;
    position: absolute;
    max-width: 600px;
    max-height: 644px;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 25px;
    box-sizing: border-box;
}
p{
    height: 64px;
    padding-left: 20px;
    box-sizing: border-box;
    line-height: 64px;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
} 
iframe{
    min-height: 360px;
    max-height: 600px;
    padding: 20px;
    box-sizing: border-box;
    left: 0;
    border-radius: 40px;
}