#bg{
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    background-color: #fff;
    border-radius: 25px;
    max-width: 600px;
    max-height: 600px;
}
#aucon li{
    float: left;
    max-height: 64px;
    height: 48px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}
li:nth-child(4n){
    margin-left: 0 !important;
}

video{
    box-sizing: border-box;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    z-index: 5;
}
p{
    box-sizing: border-box;
    padding-left: 20px;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    font-weight: 600;
}
#aucon{
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 64px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
#ply, #repl, #muvol{
    width: 20%;
}
#auc_pltm{
    width: 100%;
    box-sizing: border-box;

}
#playtime{
    width: 100%;
    margin-top: 14px;
	background-color: rgba(230, 230, 230);
    cursor: pointer;

}
button{
    width: 100%;
    height: 100%;
    font-size: 18px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
    background: none;
}
#auc_pltm{
    flex-grow: 3 !important;
}
#muvol{
    cursor: pointer;
}
#volbg{
    top: 402px;
    left: 160px;
    position: absolute;
    width: 0px;
    margin: 0;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 12px;
    opacity: 0;
}
#vol{
    width: 0;
    cursor: pointer;
    transition: 0.3s;
}
#muvol:hover #vol{
    width: 80px;
    opacity: 1;
}
#muvol:hover #volbg{
    width: 80px;
    opacity: 1;
}
#playlist{
    position: absolute;
    left: 620px;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sel{
    background-color: rgba(86, 86, 222);
    color: #fff;
}
#playlist button{
    box-sizing: border-box;
    padding-left: 14px;
    width: 150px;
    height: 48px;
    text-align: left;
    margin-top: 20px;
}
#playlist button:hover:not(.sel){
    background-color: rgba(230, 230, 230);
}