body{
    background-color: rgba(0, 0, 30);
}
#logo{
    text-align: center;
    width: 100%;
    height: 184px;
}
#logo img{
    margin-top: 50px;
    width: 124px;
}
li{
    text-align: center;
    width: 100%;
    line-height: 100px;
    font-size: 24px;
    color: #fff;
    border-radius: 0px 25px 25px 0px;
}
#menu a>li:hover{
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}
a:focus li{
    animation-duration: 0.1s;
    animation-name: clk;
    animation-fill-mode: forwards;
}

@keyframes clk{
    100% {background-color: rgba(255, 255, 255, 0.25);}
}