body{
    background-color: rgba(86, 86, 222);
}
#logo{
    text-align: center;
    width: 100%;
    height: 184px;
}
#logo img{
    margin-top: 50px;
    width: 124px;
}
.sel{
    background-color: #fff;
    color: rgba(86, 86, 222);
}
li{
    text-align: center;
    width: 100%;
    line-height: 80px;
    font-size: 24px;
    color: #fff;
    border-radius: 20px;
    width: 240px;
    height: 80px;
    margin-bottom: 30px;
}
#menu a>li:not(.sel):hover{
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}


@keyframes clk{
    100% {background-color: #fff}
}