body{
    min-height: 600px;
}
.green{
    color: green;
}
.red{
    color: red;
}
figure{
    float: left;
    max-width: 860px;   
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    box-sizing: border-box;
}
figcaption{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    padding-top: 20px;
}
table{
    max-width: 860px;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    margin: 0;
}
th{
    margin-top: 20px !important;
    height: 64px;
    line-height: 64px;
    font-size: 18px;
}
.t{
    text-align: left;
    padding:0 5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
td:not(td>a){
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid rgba(230, 230, 230);
    text-align: center;
}
.first_line, .third_line{
    text-align: center;
}
.second_line{
    text-align: left;
}
ul{
    width: 30px;
    margin-top: 20px;
}
ul li{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgba(86, 86, 222);
    color: #fff;
    margin-bottom: 20px;
}
#create{
    width: 150px;
    height: 64px;
    line-height: 64px;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: rgba(86, 86, 222);
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 15px;
    margin-top: -15px;
}