
.sel{
    color: rgba(86, 86, 222);
}
#fline{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 1ex;
    box-sizing: border-box;
    padding: 40px;
}
.CRUD{
    width: 100%;
    height: 140px;
    border-bottom: 1px solid rgba(230, 230, 230);
    text-align: center;
}
.CRUD_top{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(230, 230, 230);
}
.CRUD_top h3{
    margin-top: 8px;
    width: 200px;
    height: 32px;
    float: left;
}

.CRUD_bottom{
    height: 80px;
    margin-top: 16px;
}
.create{
    width: 84px;
    height: 48px;
    line-height: 48px;
    background-color: rgba(86, 86, 222);
    color: #fff;
    border-radius: 5px;
    float: right;
    font-size: 18px;
}
select{
    width: 80px;
    height: 48px;
    border: 1px solid rgba(86, 86, 222);
    border-radius: 5px;
    float: left;
    font-size: 14px;
}
/*상품 테이블 영역*/
table, tr, td, th{
    border: 1px solid rgba(230, 230, 230);
    text-align: center;
    border-collapse: collapse;
}
tr{
    height: 48px;
}
th{
    background-color: rgba(250, 250, 250);
}
.f{
    width: 48px;
}
.s{
    width: 64px;
}
.t, .four, .v{
    width: 128px;
}

input[type="checkbox"]{
    width: 28px;
    height: 28px;
}
input[type="text"]{
    width: 128px;
    height: 64px;
    border: none;
    font-size:14px;
    padding-left:20px;
    background-color: rgba(86, 86, 222, 0.2);
}
button{
    width: 32px;
    height: 32px;
    background-color: rgba(86, 86, 222);
    color: #fff;
    border-radius: 5px;
}
@media screen and (width: 1126px){
    
}